<!DOCTYPE html>
<html lang="fr">
    <head>
        {# SEO #}
        <meta charset="UTF-8">
        <title>{% block title %}Kzu{% endblock %}</title>
        <link rel="icon" href="favicon.png">
        
        {# Stylesheets #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ path('assets_css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Content #}
        {% block content %}{% endblock %}

        {# Javascripts #}
        <script src="{{ path('assets_js') }}"></script>
        {% block javascripts %}{% endblock %}
        
        {% include '_flash.html.twig' %}
    </body>
</html>